/* -------------- Start Eric Meyers Reset ------------ */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* -------------- End Eric Meyers Reset -------------- */

/* -------------- Start Custom CSS ------------------- */

@charset "UTF-8";

html, body {
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  height: 100%;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

a {
  color: #912CEE;
  text-decoration: none;
}

a:hover {
  color:#555;
}

h1 {
  color: #000;
  font-size: 300%;
  font-weight: bold;
  margin: 5px;
  text-align: center;
}

h2 {
  font-size: 150%;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 5px;
  line-height: 1.5;
}

h3 {
  font-size: 125%;
  line-height: 1.25;
  margin-top: 5px;
}

p {
  line-height: 1.5;
  margin-bottom: 1.2em;
  margin-top: 1.2em;
}

ul {
  margin-bottom: 1.2em;
}

li {
  list-style: circle;
  line-height: 1.5;
  margin-left: 20px;
}

img .inline {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid;
}

.left {
  float: left;
  position: relative;
}

.right {
  float: right;
  position: right;
}

.text-center {
  text-align: center;
}

.content img {
  max-width: 800px;
}

#wrapper {
  margin-left: auto;
  margin-right: auto;
  min-width: 600px;
  position: relative;
  width: 60%;
}

.navigation ul {
  display: block;
  margin: 10px;
  position: relative;
}

.navigation ul li {
  display: block;
  margin: 10px 4em 20px 4em;
  font-size: 80%;
  position: relative
  text-align: center;
}

.header {
  clear: both;
  display: block;
  position: relative;
}

.content {
  margin-top: 20px;
  padding: 10px;
}

.content code {
  display: inline-block;
  font-family: 'Courier New', serif;
  background-color: #eee;
  margin-bottom: 5px;
  padding: 2px 3px; }

.content blockquote {
  color: #444;
  font-style: italic;
  line-height: 1.25;
  margin: 1em;
  padding: .25em 1em;
}

.content blockquote cite:before {
  content: '— ';
}

.content blockquote cite {
  color: #111;
  display: block;
  font-style: normal;
  margin-top: 5px;
  text-align: right;
}

.content .byline {
  color: #aaa;
  margin-bottom: 25px;
  text-align: center;
}

.content .listing {
    margin: 10px 0 0 0;
    padding: 0px;
}

.content .listing ul {
  margin: 0;
  padding: 0;
}

.content .listing li {
  list-style: none;
  padding: 5px 3px;
  margin: 0;
  color: #777777;
  border-bottom: 1px solid #eee;
}

.content .listing li span {
  float: right;
}

.content .listing a {
  text-decoration: none;
}

.footer {
  font-size: 80%;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
}

#map {
  border: 1px solid #111;
  height: 280px;
  margin-top: 20px;
}

/* ---------------- End Custom CSS ------------------- */

/*

  .sidebar a {
    text-decoration: none; }
  .sidebar img {
    padding: 0 3px;
    border: 0; }
  .sidebar .avatar {
    padding: 0;
    margin-left: 0px;
    margin-bottom: 0px;
    border-radius: 5px; }
  .sidebar .name {
    text-transform: uppercase;
    margin: 10px 0 20px 0;
    font-size: 17px;
    font-weight: bold;
    color: black; } 
    .sidebar .name #fname {
      padding-left: 1px;
      font-size: 17px;
      font-weight: bold;
      color: black; }
    .sidebar .name #lname {
      font-size: 17px;
      font-weight: bold;
      color: black; } 
  .sidebar .meta {
    margin: 15px 0 0 0;
  }
  .sidebar .meta a {
    margin-left: 0px;
    color: black; }
    .sidebar .meta a:hover {
      color: #a561ea; }
  .sidebar .sections {
    margin: 15px 0 0 0; }
    .sidebar .sections a {
      padding: 3px 0;
      color: black;
      font-weight: bold;
      font-size: 12px;
      display: block; }
      .sidebar .sections a:hover {
        color: #a561ea; }
    .sidebar .sections ul {
      margin: 0;
      padding: 0; }
    .sidebar .sections li {
      list-style: none;
      margin-bottom: 7px; }

.content {
  margin-left: 200px;
  width: 700px;
  margin-bottom: 10px;
  background-color: #eee; }
  .content h1 {
    color: #333;
    font-family: 'Chivo', Helvetica, sans-serif;
    font-weight: 600;
    font-size: 38px;
    margin: 15px 0 18px 0; }
  .content h1 a {
    color: #111;
    text-decoration: none; }
  .content h2 {
    color: #000;
    font-family: 'Chivo', Helvetica, sans-serif;
    font-weight: 600;
    line-height: 10%;
    font-size: 30px;
    margin-bottom: 15px;}
  .content h2 a {
    color: #a561ea;
    text-decoration: none; }
  .content h3 {
    font-family: 'Chivo', Helvetica, sans-serif;
    font-weight: 600;
    line-height: 10%;
    color: #111;
    font-size: 20px; }
  .content h3 a {
    color: #a561ea;
    text-decoration: none; }
  .content h4 {
    color: #111;
    font-family: 'Chivo', Helvetica, sans-serif;
    font-weight: 600;
    line-height: 10%; }
  .content h4 a {
    color: #a561ea;
    text-decoration: none; }
  .content p {
    font-size: 19px;
    margin-top: 0;
    margin-bottom: 1.2em;
    line-height: 1.25em; }
    .content p code {
      font-size: 12px;
      background-color: #eeeeee;
      border: 1px solid #777777;
      border-radius: 3px;
      padding: 2px 3px; }
  .content img {
    padding: 3px;
    border: 1px solid #eeeeee;
    max-width: 100%; }
  .content hr {
    border: 0;
    height: 6px;
    background-image: url("/images/hr.png");
    background-repeat: repeat-x;
    margin: 2em 3em; }
  .content li {
    margin-bottom: 10px;
    line-height: 1.4em; }
  .content blockquote {
    font-style: italic;
    font-size: 14px;
    padding: .25em 1em;
    margin: 1em 1em 0 1em;
    color: #444; }
    .content blockquote cite:before {
      content: '— '; }
    .content blockquote cite {
      display: block;
      margin-top: .5em;
      text-align: right;
      color: #111;
      font-style: normal; }
  .content .byline {
    margin-bottom: 17px;
    font-family: 'Ovo', serif;
    padding-left: 0px;
    font-size: 17px;
    color: #777; }
  .content .aside {
    background-color: #eeeeee;
    padding: 14px;
    font-size: 14px;
    margin: 5px 0 15px 0;
    font-family: 'Ovo', serif;
    line-height: 1.6em; }
  .content .listing {
    margin: 10px 0 0 0;
    padding: 0px;
    font-family: 'Ovo', serif; }
    .content .listing ul {
      margin: 0;
      padding: 0; }
    .content .listing li {
      font-size: 16px;
      list-style: none;
      padding: 5px 3px;
      margin: 0;
      color: #777777;
      border-bottom: 1px solid #eee; }
    .content .listing li span {
      float: right; }
    .content .listing a {
      text-decoration: none; }
  .content .meta {
    margin: 30px 0;
    padding: 10px 0;
    font-family: 'Ovo', serif; }
    .content .meta p {
      line-height: 1.4;
      font-size: 14px;
      margin-top: 0px; }
    .content .meta img {
      position: relative;
      float: left;
      margin-top: 0px;
      margin-right: 10px;
      margin-left: -60px;
      border-radius: 4px; }
    .content .meta .copy {
      padding-left: 60px; }
    .content .meta iframe {
      padding-left: 5px; }
  .content .talk-design .color div {
    float: left;
    margin-right: 10px;
    padding: 5px 15px;
    border: 1px solid #000;
    font-family: 'Chivo', Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold; }
  .content .talk-design .color .white {
    color: #fff; } */