// Top-level entrypoint that imports the theme's SCSS and your custom overrides.
// This compiles everything in the same Sass scope so custom.scss can use theme vars/mixins.

@import "../../themes/hugo-theme-nostyleplease/assets/css/main.scss";
@import "custom.scss";
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');