{{/*
Shortcode: optimg-page
Usage: {{< optimg-page src="lyzi.jpg" width="300" alt="Lyzi" >}}
This uses the current page's resources (page bundle). It expects the image to be a Page Resource.
*/}}
{{ $src := .Get "src" | default "" }}
{{ if eq $src "" }}
  {{ errorf "optimg-page shortcode: missing 'src' parameter" }}
{{ end }}
{{ $width := .Get "width" | default "800" }}
{{ $classParam := .Get "class" | default "" }}
{{ $align := .Get "align" | default "" }}

{{ $img := .Page.Resources.GetMatch (printf "%s" $src) }}
{{ if not $img }}
  {{ errorf "optimg-page shortcode: image '%s' not found in page resources" $src }}
{{ end }}

{{ $resized := $img.Resize (printf "%sx" $width) }}

{{/* Build class attribute: allow passing a custom class, or use align=left to add align-left */}}
{{ $classes := slice }}
{{ if ne $classParam "" }}
  {{ $classes = $classes | append $classParam }}
{{ end }}
{{ if eq $align "left" }}
  {{ $classes = $classes | append "align-left" }}
{{ end }}
{{ if eq $align "right" }}
  {{ $classes = $classes | append "align-right" }}
{{ end }}

<img {{ if gt (len $classes) 0 }}class="{{ delimit $classes " " }}"{{ end }} src="{{ $resized.Permalink }}" width="{{ $resized.Width }}" height="{{ $resized.Height }}" alt="{{ .Get "alt" | default "" }}" loading="lazy" decoding="async">
